body{
	overflow-x: hidden;
}
header{
	border-bottom: 1px solid #4E5D6C;
	margin-bottom: 10px;
}
section{
	min-height: 500px;
	position: relative;
}
footer div{
	border-top: 1px solid #4E5D6C;
	text-align: right;
}
.paginate{
	display: none;
	position: fixed;
	z-index: 999;
	top: 200px;
	width: 48px;
	height: 48px;
}
.paginate#previous{
	left: 0;
	background-image: url(../images/previous.png);
}
.paginate#next{
	right: 0;
	background-image: url(../images/next.png);
}
