body, html {
    height: 100%;
    margin: 0;
    overflow:hidden;
}
body{
	position: relative;
	-webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;
}
.container {
    position: relative;
    -webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;
}
#tools{
	position: absolute;
}
.open-sidebar {
	right: 205px !important;
}
.show-sidebar{
	right: 0 !important;
}
#sidebar{
    position: absolute;
    top: 0;
	right: -200px;
    width: 200px;
	min-height: 500x;
	height: 100%;
    box-sizing: border-box;
}
#sidebar ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li{
    margin: 0;
}
#sidebar ul li a{
	padding: 20px 10px 10px;
	display: block;
}
#sidebar ul li ul{
	margin: 0;
	display: none;
}
/* Replace this properties */
#tools{
	top: 5px;
	right: 5px;
	width: 64px;
	height: 64px;
}
#sidebar{
    background-color: #E2574C;
}
#sidebar ul li:hover {
	background: #af443c;
}
#sidebar ul li a{
	color: #CCD0D2;
}
#sidebar ul li ul li{
	border-bottom: 1px solid #E2574C;
	background-color: #af443c;
}
#sidebar ul li ul li:hover{
	background: #E2574C;
	border-color: #af443c;
}
